/************************** Settings General ********************************/
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;700&display=swap");
/*customs properties*/
/* Class for JS */
.show-btn {
  display: none;
}

/* Settings*/
body {
  background-color: rgba(225, 225, 225, 0.8823529412);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  color: #000000;
  font-family: "Hind Madurai", sans-serif;
}

button {
  font-size: 1.5rem;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hind Madurai", sans-serif;
  font-size: 2.8rem;
  font-style: italic;
}

h3 {
  text-decoration: underline;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 5px 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: rgb(240, 240, 46);
}

textarea,
input {
  font-family: "Hind Madurai", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}
.container .container-error {
  text-align: right;
}
.container .container-error .error-message {
  color: #ff0000;
  font-size: 2.1rem;
  font-style: italic;
  margin-top: 10px;
}

/******************************* Header ***********************************/
.active-item {
  color: #fff;
  border-bottom: 1px solid white;
}

.header {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  background: #000000;
  padding: 20px 0;
}
.header .logo {
  width: 250px;
  transition: 0.8s ease-in-out;
}
.header ul {
  display: flex;
}
.header ul a {
  display: block;
  padding: 20px;
  font-size: 2.5rem;
  transition: 0.3s ease-in-out;
}
.header ul li a:hover {
  color: #fff;
}
.header .menu-connect {
  text-align: center;
  color: rgb(240, 240, 46);
}
.header .menu-connect a {
  margin: 5px;
  font-style: italic;
  transition: 0.4s ease-in-out;
  display: block;
}
.header .menu-connect a:hover {
  color: #fff;
}
.header .menu-connect .fas {
  font-size: 30px;
  display: block;
  text-align: center;
  margin: 10px 0;
}
.header .menu-connect .shopping {
  position: relative;
  margin-bottom: 20px;
}
.header .menu-connect .counter-product {
  position: absolute;
  background-color: red;
  width: 20px;
  border-radius: 300px;
  font-size: 1.8rem;
  left: 55%;
  top: -20%;
}

/******************************* Page Home *************************************/
/*slider*/
.img-slider {
  position: relative;
  display: flex;
  align-items: center;
}
.img-slider:hover .next-slide {
  opacity: 1;
}
.img-slider:hover .after-slide {
  opacity: 1;
}

.container-slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  margin: 10px 0;
}
.container-slider p {
  font-weight: bold;
  font-size: 2.5rem;
  font-style: italic;
}
.container-slider .text-left-slider {
  margin: 70px 0;
}

.slider {
  max-width: 1000px;
  margin: 0 auto;
}
.slider img {
  display: none;
  width: 1000px;
  height: 550px;
}
.slider .visible {
  display: block;
  -webkit-animation: fonder 0.9s ease-in-out;
          animation: fonder 0.9s ease-in-out;
}

@-webkit-keyframes fonder {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fonder {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.next-slide,
.after-slide {
  cursor: pointer;
  transition: opacity 0.5s ease;
  opacity: 0;
  position: absolute;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(252, 250, 250, 0.8);
  padding: 10px;
  border-radius: 50px;
}

.next-slide {
  left: 1rem;
}

.after-slide {
  right: 1rem;
}

/*Section Info */
.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.primary-article {
  text-align: center;
  padding: 25px;
}

.symbol {
  font-size: 7rem;
}

.icons {
  padding: 5px;
}

/*Section prestations*/
.header-section-prestations {
  background: #000000;
  text-align: center;
  color: rgb(240, 240, 46);
  padding: 15px 10px;
}
.header-section-prestations h2 {
  margin-top: 0;
}
.header-section-prestations p {
  font-style: italic;
}

.prestations {
  padding: 0 10px;
}

.container-prestations {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-prestations .container-text {
  width: 420px;
  height: 200px;
}
.container-prestations .title-prestation {
  font-style: italic;
  text-decoration: underline;
}
.container-prestations .fas {
  padding-right: 5px;
  font-size: 3rem;
}

/******************************** Page Prestation ************************************/
.page-prestation {
  padding: 0 10px;
}
.page-prestation table {
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  max-width: 100%;
  width: 100%;
  table-layout: fixed;
}
.page-prestation table th {
  text-align: center;
  padding: 10px;
}
.page-prestation table td {
  border: 1px solid #ddd;
  padding: 10px;
}
.page-prestation table .celulle-one {
  width: 30%;
}
.page-prestation table .celulle-two {
  width: 60%;
}
.page-prestation table .text-left {
  text-align: left;
}
.page-prestation h3 {
  text-decoration: underline;
}
.page-prestation table > thead > tr {
  background: #000000;
  color: #fff;
}
.page-prestation tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
  border-right: 1px solid #fff;
}
.page-prestation :nth-child(6) {
  margin-bottom: 1em;
}

/******************************** Page Contact ************************************/
.contact-page,
.container-hours {
  display: flex;
  justify-content: space-around;
}
.contact-page h4,
.container-hours h4 {
  text-decoration: underline;
}
.contact-page a,
.container-hours a {
  color: #000000;
}

.container-form {
  width: 100%;
  padding: 0 10px;
}

.container-map {
  width: 100%;
  padding: 30px 20px;
}
.container-map .map {
  width: 100%;
  height: 400px;
}

.contact-form {
  width: 100%;
  margin-top: 20px;
}
.contact-form label {
  display: block;
  margin: 10px 0;
  font-style: italic;
}
.contact-form .form-group-global {
  display: flex;
}
.contact-form .form-group-global :first-child {
  margin-right: 15px;
}
.contact-form .form-group-global .form-group {
  width: 50%;
}
.contact-form input {
  width: 100%;
  padding: 8px;
}
.contact-form textarea {
  width: 100%;
  resize: none;
}
.contact-form ::-moz-placeholder {
  font-size: 1.6rem;
}
.contact-form :-ms-input-placeholder {
  font-size: 1.6rem;
}
.contact-form ::placeholder {
  font-size: 1.6rem;
}
.contact-form .input-contact-form {
  width: 30%;
  margin: 10px 0;
  cursor: pointer;
  font-size: 1.6rem;
  transition: 0.6s ease-in-out;
  background-color: #2f9e56;
  text-align: center;
  color: #fff;
}
.contact-form .input-contact-form:hover {
  text-decoration: underline;
  opacity: 0.8;
}
.contact-form .info-client :nth-child(4) {
  margin-top: 20px;
}

/******************************** Shop ************************************/
.shop {
  padding: 0 10px;
}

/*Card*/
.displayProduct {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.displayProduct .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  width: 31%;
  border-radius: 30px;
  background-color: #f1f1f1;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
}
.displayProduct .card .card-title {
  font-size: 2rem;
  font-style: italic;
  text-decoration: underline;
}
.displayProduct .card :nth-child(2) {
  margin: 0 10px;
}
.displayProduct .card :nth-child(3) > p {
  font-size: 3rem;
  font-weight: bold;
}
.displayProduct .card .card-img {
  width: 100%;
  border-radius: 30px;
}
.displayProduct .card .fas {
  font-size: 4.5rem;
  color: #2aa555;
  cursor: pointer;
  padding: 5px;
  transition: 0.4s ease-in-out;
}
.displayProduct .card .fas:hover {
  transform: scale(1.1);
}
.displayProduct .card .card-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.displayProduct .card .card-price .container-input-quantity {
  text-align: center;
}
.displayProduct .card .small-hidden {
  display: none;
  text-align: center;
  margin-bottom: 10px;
}
.displayProduct .card .show-small {
  display: block;
  margin-bottom: 20px;
}
.displayProduct .add-caddie {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border: none;
  overflow: hidden;
  background-color: #f1f1f1;
  cursor: pointer;
}

/*searchBar*/
.input-search {
  display: block;
  margin: 20px auto;
  padding: 5px;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  font-size: 1.5rem;
}

.displaySearch > p {
  text-align: center;
  font-size: 2.2rem;
}

/*Shop Basket*/
.basket {
  padding: 0 10px;
}

.show-basket {
  text-align: left;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.show-basket a {
  color: #000000;
}
.show-basket td {
  padding: 10px 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}
.show-basket .container-btn-del {
  width: 5%;
}
.show-basket .btn-del {
  cursor: pointer;
  padding: 8px;
}

.basket .text-validate {
  text-align: center;
  margin: 10px 0;
}
.basket .text-validate a {
  color: #0000ff;
  text-decoration: underline;
  padding: 5px;
  font-style: italic;
}
.basket :nth-child(4) > div {
  text-align: center;
}

.confirm-order {
  padding: 5px;
  margin-bottom: 15px;
  cursor: pointer;
}

.amount-text {
  text-align: right;
}

/******************************** Area User ************************************/
.areaUser {
  padding: 0 10px;
}
.areaUser .last-order {
  display: flex;
  align-items: center;
}
.areaUser .last-order .welcome-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.areaUser .last-order .welcome-user > p {
  margin-top: 10px;
  font-size: 2.5rem;
}
.areaUser .last-order :nth-child(3) > div {
  background-color: #fff;
  border-radius: 3px;
}
.areaUser .last-order :nth-child(2) > div {
  background-color: #fff;
  border-radius: 3px;
}
.areaUser .container-product {
  width: 70%;
}
.areaUser .container-product a {
  display: block;
  background-color: #fff;
  padding-bottom: 15px;
}
.areaUser .container-product a button {
  padding: 5px;
}
.areaUser .containerUser {
  text-align: center;
}
.areaUser nav {
  text-align: left;
  background-color: #fff;
  border-radius: 3px;
  width: 25%;
  height: 30%;
}
.areaUser nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  height: 100%;
}
.areaUser nav .myOrder {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}
.areaUser nav .myOrder:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f07a";
  padding: 10px;
  font-size: 2.5rem;
}
.areaUser nav .myInformations:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f2bb";
  padding: 10px;
  font-size: 2.5rem;
}
.areaUser nav li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.areaUser nav a {
  display: block;
  width: 100%;
  padding: 10px 0;
  transition: 0.4s ease-in-out;
  color: black;
}
.areaUser nav a:hover {
  text-decoration: underline;
}
.areaUser .container-last-order {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.areaUser .container-last-order div img {
  width: 150px;
}
.areaUser .detail-last-order {
  padding: 0 10px;
}
.areaUser .detail-last-order :nth-child(3) {
  margin: 10px 0;
}
.areaUser .detail-last-order small {
  display: block;
  font-style: italic;
}

/*Display details order for user*/
.details-order-user {
  padding: 0 10px;
}
.details-order-user .last-order {
  align-items: flex-start;
}
.details-order-user .last-order :nth-child(2) div {
  background-color: transparent;
}
.details-order-user .last-order small {
  display: block;
  font-style: italic;
}
.details-order-user .last-order .welcome-user {
  margin-right: 10px;
}
.details-order-user .last-order .welcome-user > div {
  margin-top: 15px;
}
.details-order-user .last-order .welcome-user p {
  margin: 15px 0;
  font-size: 2.5rem;
}
.details-order-user .last-order .welcome-user nav {
  width: 100%;
}
.details-order-user .last-order .container-select {
  width: 100%;
  margin-top: 10px;
}
.details-order-user .last-order .container-product {
  width: 100%;
  background-color: rgba(225, 225, 225, 0.8823529412);
}
.details-order-user .last-order .container-product .choice-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(225, 225, 225, 0.8823529412);
}
.details-order-user .last-order .container-product .choice-order > div {
  margin: 13.5px 0;
  text-align: left;
}
.details-order-user .last-order .container-product .choice-order a {
  background-color: transparent;
  margin-right: 10px;
}
.details-order-user .last-order .container-product .container-last-order {
  margin-bottom: 10px;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
}
.details-order-user .last-order .container-product .container-last-order div img {
  display: block;
}
.details-order-user .last-order select {
  padding: 5px;
  font-size: 1.5rem;
  margin-right: 10px;
}

/* Personnal information */
.information-user {
  padding: 10px 0;
}
.information-user .container-information {
  display: flex;
}
.information-user .container-information .personal-information {
  background-color: #fff;
  margin-left: 15px;
  width: 100%;
  border-radius: 3px;
}
.information-user .container-information .personal-information .container-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.information-user .container-information .bold-text {
  font-weight: bold;
}
.information-user .container-information .update-btn {
  display: block;
  padding: 10px 20px;
  background-color: #096ec8;
  border: 1px solid #096ec8;
  color: #fff;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}
.information-user .container-information .update-btn:hover {
  opacity: 0.6;
}

/*update Mail user */
.update .container-update {
  background-color: #fff;
  margin-left: 10px;
  padding: 15px;
}
.update .container-update .container-txt-update {
  margin: 20px 0;
}
.update .container-update h3 {
  margin: 0;
  text-decoration: none;
}
.update .container-update .form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 15px 0;
}
.update .container-update .update-btn {
  margin: 15px auto;
}
.update .container-update .input-update {
  font-size: 1.8rem;
  cursor: pointer;
  padding: 10px;
}

/******************************** DashboardAdmin ************************************/
.container-dashboard {
  display: flex;
}

.nav-admin {
  background-color: #f1f1f1;
  padding-bottom: 0.01px;
}
.nav-admin .welcome-user {
  margin-left: 20px;
  margin-top: 30px;
  font-size: 2.2rem;
  font-style: italic;
}
.nav-admin h1 {
  margin-bottom: 0;
  font-size: 2.2rem;
}
.nav-admin .container-logo {
  margin-top: 25px;
  text-align: center;
}
.nav-admin .container-logo a {
  transition: 0.6s ease-in-out;
}
.nav-admin .container-logo a:hover {
  opacity: 0.6;
}
.nav-admin .container-logo img {
  width: 200px;
}
.nav-admin a {
  transition: 0.4s ease-in-out;
  color: #000000;
}
.nav-admin a:hover {
  color: #2d2ddb;
}
.nav-admin li {
  margin: 50px 20px;
  font-size: 2.2rem;
}
.nav-admin li:hover > .sub-menu {
  display: block;
}
.nav-admin ul {
  margin: 0;
}
.nav-admin ul li {
  padding-bottom: 0;
}
.nav-admin .fa-store:before,
.nav-admin .fa-images:before,
.nav-admin .fa-tools:before,
.nav-admin .fa-file-contract:before {
  margin-right: 10px;
}

/*Mangement Prestation*/
.managment-prestation {
  padding: 0 10px;
}
.managment-prestation h3 {
  margin-bottom: 0;
}
.managment-prestation table > thead > tr {
  background: #000000;
  color: #fff;
}
.managment-prestation table {
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  max-width: 100%;
  width: 100%;
  table-layout: fixed;
}
.managment-prestation table tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
  border-right: 1px solid #fff;
}
.managment-prestation table th {
  text-align: center;
  padding: 10px;
  color: #fff;
}
.managment-prestation table td {
  border: 1px solid #ddd;
  padding: 10px;
}
.managment-prestation table .fas {
  font-size: 2rem;
  transition: 0.6s ease-in-out;
  color: #000000;
}
.managment-prestation table .fas:hover {
  color: #0000ff;
}

.container-btn {
  text-align: center;
}
.container-btn a {
  margin: 0 15px;
  display: block;
  color: black;
}
.container-btn .fa-pencil-alt,
.container-btn .fa-eye,
.container-btn .fa-times {
  margin-bottom: 15px;
}

.add-prestation {
  margin: 15px 15px 15px 0;
  padding: 10px;
  font-size: 1.4rem;
  cursor: pointer;
}

/*addPrestation*/
.add-presta,
.add-product,
.update-presta,
.update-product {
  padding: 0 10px;
}
.add-presta .container-form,
.add-product .container-form,
.update-presta .container-form,
.update-product .container-form {
  padding: 0;
}
.add-presta .contact-form,
.add-product .contact-form,
.update-presta .contact-form,
.update-product .contact-form {
  width: 100%;
}
.add-presta .contact-form .form-group > input,
.add-product .contact-form .form-group > input,
.update-presta .contact-form .form-group > input,
.update-product .contact-form .form-group > input {
  width: 70%;
}
.add-presta .contact-form .input-contact-form,
.add-product .contact-form .input-contact-form,
.update-presta .contact-form .input-contact-form,
.update-product .contact-form .input-contact-form {
  width: 70%;
}
.add-presta .contact-form textarea,
.add-product .contact-form textarea,
.update-presta .contact-form textarea,
.update-product .contact-form textarea {
  width: 100%;
}

/*Mangement Shop*/
.manage-shop {
  padding: 0 10px;
}
.manage-shop .show-product img {
  width: 100px;
  display: block;
  max-width: 100%;
}
.manage-shop .show-product thead {
  background: #000000;
  color: #fff;
}
.manage-shop .show-product thead tr :nth-child(5) {
  width: 10%;
  text-align: center;
}
.manage-shop .show-product thead th {
  padding: 10px;
}
.manage-shop .show-product td {
  padding: 10px;
}
.manage-shop .show-product .fas {
  font-size: 2rem;
  transition: 0.6s ease-in-out;
  color: #000000;
}
.manage-shop .show-product .fas:hover {
  color: #0000ff;
}
.manage-shop h3 {
  margin-bottom: 0;
}

/*update-product*/
.update-product .update-picture {
  width: 100%;
}
.update-product .update-picture img {
  width: 100px;
}
.update-product .update-picture label {
  text-align: left;
}
.update-product .update-picture input {
  display: block;
}

/*Management slider*/
.manage-slider .container-slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.manage-slider .container-slide img {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  display: block;
}
.manage-slider .container-slide h4 {
  font-size: 2rem;
  font-weight: none;
}

/*management form */
.manage-form table caption {
  text-align: left;
  font-style: italic;
  font-size: 2.2rem;
  text-decoration: underline;
  margin-top: 40px;
  margin-bottom: 20px;
}
.manage-form table .see-details-form {
  color: #0000ff;
}

.mail-contact-form {
  color: #0000ff;
  transition: 0.6s ease-in-out;
}
.mail-contact-form:hover {
  text-decoration: underline;
}

/*manage details Form */
.details-form {
  padding: 10px;
}
.details-form .date-form {
  text-align: right;
  margin: 15px 0;
}
.details-form .object-form :first-child {
  margin-bottom: 10px;
  text-decoration: underline;
}

/******************************** Footer ************************************/
.footer {
  background: #000000;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 20px;
  color: rgb(240, 240, 46);
}
.footer p,
.footer li {
  font-style: italic;
}
.footer a {
  color: rgb(240, 240, 46);
  transition: 0.3s ease-in-out;
}
.footer a:hover {
  color: #fff;
}

.footer-bloc {
  width: 400px;
  text-align: left;
}

.items-prestations {
  margin: 20px 0;
}
.items-prestations:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  padding: 5px;
}

.title {
  font-style: italic;
  margin: 0;
  padding: 5px 0;
}

.adress-bloc :first-child {
  padding-top: 0;
}

.bloc {
  margin: 10px 0;
}

.social-medias {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.social-medias a {
  padding: 0 5px;
}
.social-medias a .fab {
  font-size: 3rem;
}

.title-mail:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0e0";
  margin-right: 10px;
}

.title-adress:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f3c5";
  margin-right: 10px;
}

.title-phone:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f095";
  margin-right: 10px;
}

/******************************** Form connect User&admin ************************************/
.form-connect-user {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}
.form-connect-user p {
  padding-top: 15px;
}
.form-connect-user legend {
  padding: 0 10px;
}
.form-connect-user ::-moz-placeholder {
  text-align: center;
  font-size: 1.6rem;
}
.form-connect-user :-ms-input-placeholder {
  text-align: center;
  font-size: 1.6rem;
}
.form-connect-user ::placeholder {
  text-align: center;
  font-size: 1.6rem;
}
.form-connect-user input {
  margin: 5px 0;
  border-radius: 5px white;
  width: 250px;
  padding: 5px 0;
}
.form-connect-user img {
  width: 150px;
}
.form-connect-user h1 {
  font-size: 2rem;
}
.form-connect-user .btn-submit-form {
  padding: 5px;
  font-size: "Hind Madurai", sans-serif;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.form-connect-user .btn-submit-form:hover {
  transform: scale(1.1);
}
.form-connect-user .forgot-password {
  display: block;
  font-size: small;
  margin-bottom: 10px;
}
.form-connect-user a {
  padding: 0 5px;
  font-style: italic;
  text-decoration: underline;
  color: #0000ff;
  transition: 0.4s ease-in-out;
}
.form-connect-user a:hover {
  opacity: 0.6;
}

/*Form password forgot*/
.form-forgot-password p {
  padding: 0;
  margin: 5px;
}
.form-forgot-password .container-logo {
  margin-top: 10px;
}
.form-forgot-password fieldset :nth-child(3) {
  border: 1px solid black;
  margin: 10px 0;
}

/******************************** Form create User ************************************/
.form-create-user .container-pass {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-create-user .btn-submit-form {
  margin: 15px 0;
}

/******************************** Responsive ************************************/
@media screen and (max-width: 1211px) {
  .menu-connect a {
    display: block;
    margin: 10px;
  }
}
@media screen and (max-width: 1180px) {
  .container-prestations {
    flex-direction: column;
  }

  .info {
    flex-direction: column;
  }

  .manage-form table thead {
    display: none;
  }
  .manage-form table tr {
    display: block;
    margin-bottom: 40px;
  }
  .manage-form table td {
    display: block;
    text-align: right;
  }
  .manage-form table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    font-style: italic;
    margin-right: 15px;
  }
  .manage-form table .container-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .manage-form table .container-btn a {
    margin: 0 15px;
  }
  .manage-form table .container-btn .fa-pencil-alt,
.manage-form table .container-btn .fa-eye,
.manage-form table .container-btn .fa-times {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1000px) {
  .slider {
    max-width: 700px;
  }

  .contact-page {
    display: block;
  }

  .displayProduct .card {
    width: 47%;
  }
}
@media screen and (max-width: 885px) {
  .header {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px 0;
  }

  .areaUser .last-order {
    flex-direction: column;
  }
  .areaUser .welcome-user {
    margin-top: 10px;
  }
  .areaUser nav {
    width: 100%;
    margin: 10px 0;
  }

  .details-order-user .last-order {
    flex-direction: column-reverse;
  }
  .details-order-user .last-order .welcome-user {
    width: 100%;
  }
}
@media screen and (max-width: 850px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer .footer-bloc {
    text-align: center;
    padding-bottom: 10px;
  }
  .footer .social-medias {
    align-items: center;
  }

  .slider {
    max-width: 650px;
  }
}
@media screen and (max-width: 750px) {
  .page-prestation table .celulle-two {
    width: 50%;
  }

  .container-dashboard {
    display: block;
  }
  .container-dashboard .nav-admin :nth-child(3) > ul {
    display: block;
  }
  .container-dashboard .container-logo {
    margin-top: 0;
  }
  .container-dashboard .container-logo h1 {
    margin-top: 0;
  }
  .container-dashboard .container-logo img {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}
@media (max-width: 700px) {
  .manage-shop .show-product img,
.managment-prestation .show-product img {
    margin: auto;
  }
  .manage-shop table thead,
.managment-prestation table thead {
    display: none;
  }
  .manage-shop table tr,
.managment-prestation table tr {
    display: block;
    margin-bottom: 40px;
  }
  .manage-shop table td,
.managment-prestation table td {
    display: block;
    text-align: right;
  }
  .manage-shop table .text-left,
.managment-prestation table .text-left {
    text-align: right;
  }
  .manage-shop table td:before,
.managment-prestation table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 5px;
    margin-right: 15px;
  }
  .manage-shop table .container-btn a,
.managment-prestation table .container-btn a {
    margin: 0 15px;
    display: inline-block;
  }
  .manage-shop table .container-btn .fa-pencil-alt,
.managment-prestation table .container-btn .fa-pencil-alt {
    margin-bottom: 0;
  }

  .basket .show-basket thead {
    display: none;
  }
  .basket .show-basket tr {
    display: block;
    margin-bottom: 40px;
  }
  .basket .show-basket td {
    display: block;
    text-align: right;
  }
  .basket .show-basket .text-left {
    text-align: right;
  }
  .basket .show-basket a:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 5px;
    margin-right: 15px;
  }
  .basket .show-basket .container-btn-del {
    width: 100%;
  }
  .basket .amount-text {
    text-align: center;
  }

  .card-price {
    flex-direction: column;
  }
  .card-price div {
    margin: 20px 0 !important;
  }
}
@media screen and (max-width: 550px) {
  .active-item {
    border: none;
  }

  .header nav {
    width: 100%;
  }
  .header nav ul {
    flex-direction: column;
    align-items: center;
  }
  .header nav ul li {
    width: 100%;
    text-align: center;
  }
  .header nav ul li a:hover {
    background-color: white;
    color: #000000;
  }
}
@media screen and (max-width: 500px) {
  .displayProduct .card {
    width: 100%;
  }

  .container-slider {
    display: none;
  }

  .container-hours {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .page-prestation table .celulle-two {
    width: 41%;
  }
  .page-prestation table .celulle-one {
    width: 38%;
  }

  .footer-bloc {
    width: 300px;
  }

  .container-prestations .title-prestation {
    font-size: 2.2rem;
  }
  .container-prestations .container-text {
    width: 350px;
    height: auto;
  }
}/*# sourceMappingURL=styles.css.map */